@use '../colors'

nav.panel
  .panel-tabs
    span
      padding: .5em

      &.is-active
        color: colors.$light-blue1
        font-weight: bolder

      &:hover
        font-weight: bold

.card
  background-color: colors.$light-blue !important