.table
  th
    text-align: center !important
    color: #6d6d6d !important

  tbody
    tr
      &:hover
        background-color: #ebebeb

    td
      vertical-align: middle

    .tag
      border-radius: 9999px