@use '../../colors'

$layout-breakpoint-small: 385px

@media (max-width: $layout-breakpoint-small)
  .table
    tbody
      td
        min-width: unset !important

    .desktop
      display: none



.table
  width: -webkit-fill-available

  th
    color: colors.$dark-grey !important
    text-align: center !important

  tbody
    tr
      &:hover
        background-color: colors.$light-grey
        cursor: pointer

    td
      min-width: 215px
      vertical-align: middle

    .tag
      border-radius: 9999px